*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-color: #233034;
    --background-color: #172021;
    --detail-color: #3a464e;
    --primary-color: #FE7E01;
    --secondary-color: #1CB0F6;
    --secondary-alt-color: #45AAF2;
    --text-color: #f0f6fb;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --surface-color: #FFFFFF;
    --background-color: #F7F7F7;
    --detail-color: #E5E5E5;
    --primary-color: #FE7E01;
    --secondary-color: #2D98DA;
    --secondary-alt-color: #45AAF2;
    --text-color: #4B4B4B;
  }
}
header #logo, header > div {
  flex: 1 1 0px;
}

nav > section,
#main-content, search menu, #main--reception ul .main--reception--review, #main--additional-content--editions .card,
#main--additional-content--expansions .card,
#main--additional-content--dlcs .card, #main--localization--age-ratings li, .card, button, #main--time-to-beat ul b, #main--reception ul li {
  padding: 1rem;
  background-color: var(--surface-color);
  border-radius: 0.5rem;
  box-shadow: 0 0 4px 0 var(--detail-color);
}

#main--time-to-beat ul b, #main--reception ul li {
  background-color: var(--background-color);
  border: none;
  box-shadow: none;
}

#main--reception ul .main--reception--review, #main--additional-content--editions .card,
#main--additional-content--expansions .card,
#main--additional-content--dlcs .card, #main--localization--age-ratings li, .card, button {
  border: 2px solid var(--detail-color);
  box-shadow: 0 2px 0 var(--detail-color);
  transition: all 100ms ease;
}
#main--reception ul .main--reception--review:hover, #main--additional-content--editions .card:hover,
#main--additional-content--expansions .card:hover,
#main--additional-content--dlcs .card:hover, #main--localization--age-ratings li:hover, .card:hover, button:hover {
  background-color: var(--detail-color);
  border-color: var(--secondary-color);
  box-shadow: 0 2px 0 var(--secondary-color);
  cursor: pointer;
}

:root {
  color: var(--text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.dark-mode {
  --surface-color: #233034;
  --background-color: #172021;
  --detail-color: #3a464e;
  --primary-color: #FE7E01;
  --secondary-color: #1CB0F6;
  --secondary-alt-color: #45AAF2;
  --text-color: #f0f6fb;
}

input,
select,
textarea,
button {
  font-family: inherit;
}
input:focus-visible,
select:focus-visible,
textarea:focus-visible,
button:focus-visible {
  border: 2px solid var(--detail-color);
  outline: none;
}

input[type=search], input[type=text], select {
  font-family: inherit;
  border: 2px solid var(--detail-color);
  border-radius: 0.5rem;
  padding: 0 1rem;
  background-color: var(--surface-color);
  height: 2.5rem;
}
input[type=search]:focus-visible, input[type=text]:focus-visible, select:focus-visible {
  border: 2px solid var(--secondary-color);
  outline: none;
}

div:has(select) {
  position: relative;
}
div:has(select) select {
  appearance: none;
  background-image: url("/images/icons/caret-down-light.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
  padding-right: 2.5rem;
}
div:has(select) i {
  position: absolute;
  font-size: 0.75rem;
  top: 50%;
  right: 1rem;
  translate: 0 -50%;
}

div:has(input[type=checkbox]) input[type=checkbox]:hover, div:has(input[type=checkbox]) label:hover {
  text-decoration: underline;
  cursor: pointer;
}

button {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  height: 3rem;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: bold;
}
button.primary {
  color: var(--surface-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-detail-color);
  box-shadow: 0 2px 0 var(--secondary-detail-color);
}
button.primary:hover {
  background-color: var(--secondary-hover-color);
  border-color: var(--secondary-color);
  box-shadow: 0 2px 0 var(--secondary-color);
}
button.secondary {
  color: var(--secondary-color);
  background-color: var(--surface-color);
  border-color: var(--secondary-color);
  box-shadow: 0 2px 0 var(--secondary-color);
}
button.secondary:hover {
  background-color: var(--detail-color);
  border-color: var(--secondary-color);
  box-shadow: 0 2px 0 var(--secondary-color);
}
button.tertiary {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  box-shadow: none;
}
button.tertiary:hover {
  background-color: var(--detail-color);
}
button.destructive {
  color: #EB3B5A;
}

header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  --surface-color: #233034;
  --background-color: #172021;
  --detail-color: #3a464e;
  --primary-color: #FE7E01;
  --secondary-color: #1CB0F6;
  --secondary-alt-color: #45AAF2;
  --text-color: #f0f6fb;
  background-color: var(--surface-color);
  height: 4.5rem;
  align-items: center;
  padding: 1rem max((100dvw - 1280px) / 2, 2rem);
  position: sticky;
  top: 0;
  z-index: 10;
  grid-column: 1/-1;
}
header > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
header #logo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100%;
}
header #logo * {
  height: 100%;
}
header div:has(search) {
  flex-grow: 2;
}

search {
  position: relative;
  --surface-color: #FFFFFF;
  --background-color: #F7F7F7;
  --detail-color: #E5E5E5;
  --primary-color: #FE7E01;
  --secondary-color: #2D98DA;
  --secondary-alt-color: #45AAF2;
  --text-color: #4B4B4B;
  flex-grow: 2;
  height: 2.5rem;
}
search form, search div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100%;
  position: relative;
}
search form input, search div input {
  width: 100%;
  height: 100%;
  padding-right: 3.5rem;
}
search form button.tertiary, search div button.tertiary {
  position: absolute;
  right: 0;
  height: 100%;
  width: 2.5rem;
  border-radius: 50%;
}
search menu {
  position: absolute;
  border: 2px solid var(--detail-color);
  padding: 0;
  top: bottom;
  width: 100%;
  translate: 0 0.5rem;
  max-height: min(100dvh - 4rem, 24rem);
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: stretch;
  overflow: hidden;
}
search menu ul {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
search menu > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  max-height: fit-content;
  z-index: 11;
}

.searchbar--item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  border-top: 2px solid var(--surface-color);
  border-bottom: 2px solid var(--surface-color);
}
.searchbar--item .cover {
  height: 100%;
  aspect-ratio: 264/352;
  background-color: var(--background-color);
  background-size: contain;
}
.searchbar--item:hover {
  background-color: var(--detail-color);
  text-decoration: none;
  border-color: var(--secondary-color);
  z-index: 12;
}

.icon-button {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: background-color 100ms ease;
}
.icon-button i {
  font-size: 150%;
}
.icon-button:hover {
  cursor: pointer;
  background-color: var(--background-color);
}
.icon-button:active {
  background-color: var(--detail-color);
}
.icon-button i {
  color: var(--text-color);
}

div:has(> .user-profile) {
  justify-content: flex-end;
}

.user-profile {
  display: flex;
  flex-direction: row;
  gap: calc(0.5rem + 4px);
  border: none;
  background-color: transparent;
  align-items: center;
  color: var(--text-color);
  padding: 0;
  border-radius: 99rem;
  transition: all 100ms ease;
  box-shadow: none;
  width: 2.5rem;
  height: 2.5rem;
}
.user-profile:hover {
  cursor: pointer;
  background-color: var(--background-color);
  box-shadow: none;
  border-radius: 99rem;
}
.user-profile:hover img {
  outline-color: var(--secondary-color);
}
.user-profile:active {
  background-color: var(--detail-color);
}

.profile-picture {
  width: calc(2.5rem - 8px);
  aspect-ratio: 1;
  border-radius: 50%;
  outline: 2px solid var(--text-color);
  outline-offset: 2px;
  transition: all 100ms ease;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  white-space: pre-wrap;
  font-weight: normal;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

body {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--background-color);
  overflow: hidden;
  scroll-padding-top: 7rem;
}

main {
  width: 100dvw;
  height: 100dvh;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
main #body {
  flex-grow: 1;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section > .content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  position: relative;
}

.card {
  padding: 0;
  color: var(--text-color);
  flex: 1 1 0px;
  min-width: 0;
  pointer-events: all;
  opacity: 100%;
  position: relative;
  overflow: hidden;
}
.card b {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 1lh;
}
.card small {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 1lh;
  max-width: 100%;
}
.card .cover {
  background-size: cover;
  background-position: center;
  background-color: var(--background-color);
}
.card .cover.landscape {
  aspect-ratio: 460/215;
}
.card .cover.portrait {
  aspect-ratio: 359/539;
}
.card .cover.thumb {
  aspect-ratio: 264/352;
}
.card > .content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
  justify-content: center;
}
.card:hover {
  text-decoration: none;
  z-index: 1;
}

.card.vertical {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.card.vertical .cover {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 1rem;
}

ul.subtexts {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  list-style-type: none;
  min-height: 1rem;
}
ul.subtexts li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: min-content;
  max-width: 100%;
}
ul.subtexts li:last-of-type {
  flex: 1 1 0;
  min-width: 0;
}

small {
  font-size: 0.75rem;
}
small a {
  color: var(--text-color);
}

.rating-1, .rating-2, .rating-3, .rating-4, .rating-5 {
  --surface-color: #FFFFFF;
  --background-color: #F7F7F7;
  --detail-color: #E5E5E5;
  --primary-color: #FE7E01;
  --secondary-color: #2D98DA;
  --secondary-alt-color: #45AAF2;
  --text-color: #4B4B4B;
  display: flex;
  flex-direction: row;
  gap: 0;
  display: inline-block;
  border-radius: 50%;
}
.rating-1 span, .rating-2 span, .rating-3 span, .rating-4 span, .rating-5 span {
  font-weight: bold;
  font-size: 1.5rem;
}

.rating-5 span {
  color: #20BF6B;
}

.rating-4 span {
  color: #26DE81;
}

.rating-3 span {
  color: #F7B731;
}

.rating-2 span {
  color: #FED330;
}

.rating-1 span {
  color: #EB3B5A;
}

.card.horizontal {
  display: flex;
  flex-direction: row;
  gap: 0;
}
.card.horizontal:has(> .cover.landscape) {
  min-height: 6rem;
}
.card.horizontal:has(> .cover.portrait) {
  height: 4rem;
}
.card.horizontal:has(> .cover.thumb) {
  height: 8rem;
}
.card.horizontal .content {
  flex-grow: 1;
  min-width: 0;
}

.countdown {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1rem 1rem 2.25rem 1rem;
  align-items: center;
}
.countdown div {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  position: relative;
}
.countdown hr {
  width: 2px;
  height: 1rem;
}
.countdown span {
  background-color: var(--detail-color);
  border: 2px solid var(--surface-color);
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.5rem;
}
.countdown small {
  position: absolute;
  width: 100%;
  bottom: -1.25rem;
  text-align: center;
}

.smaller {
  font-size: 0.625rem;
}

hr {
  background-color: var(--detail-color);
  border: none;
  border-radius: 1px;
}
hr .vertical {
  height: 100%;
  width: 2px;
}
hr .horizontal {
  height: 2px;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  --surface-color: #233034;
  --background-color: #172021;
  --detail-color: #3a464e;
  --primary-color: #FE7E01;
  --secondary-color: #1CB0F6;
  --secondary-alt-color: #45AAF2;
  --text-color: #f0f6fb;
  background-color: var(--surface-color);
  color: var(--text-color);
  align-items: center;
  width: 100%;
  padding: 2rem max((100dvw - 1280px) / 2, 2rem);
  grid-column: 1/-1;
}
footer #community {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
footer #community b {
  width: 100%;
  text-align: center;
}
footer #community a {
  text-decoration: none;
}
footer #legal {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  opacity: 50%;
  align-items: center;
}
footer #legal > small {
  padding-top: 0.125rem;
  height: 1rem;
}
footer #legal ul {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}
footer #legal li {
  list-style: none;
}
footer #legal a {
  color: var(--text-color);
}

@keyframes loading {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
iframe {
  background-color: black;
  border: none;
}

platform-prefab i, platform-prefab img {
  margin-top: 1px;
}
platform-prefab a {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: lightgrey;
  color: white;
  align-items: center;
}
platform-prefab img {
  height: 1rem;
  width: 1rem;
  filter: invert(100%) sepia(98%) saturate(8%) hue-rotate(151deg) brightness(103%) contrast(102%);
}

*:has(> my-tooltip) {
  position: relative;
}
*:has(> my-tooltip) my-tooltip {
  --surface-color: #233034;
  --background-color: #172021;
  --detail-color: #3a464e;
  --primary-color: #FE7E01;
  --secondary-color: #1CB0F6;
  --secondary-alt-color: #45AAF2;
  --text-color: #f0f6fb;
  position: absolute;
  visibility: hidden;
  opacity: 0%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  top: 0;
  left: 50%;
  translate: -50% -100%;
  z-index: 20;
  color: var(--text-color);
  width: max-content;
  text-align: center;
  background-color: var(--surface-color);
  transition: all 100ms ease;
}
*:has(> my-tooltip) my-tooltip::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50% -50%;
  rotate: 45deg;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--surface-color);
}
*:has(> my-tooltip):hover my-tooltip:not(:empty) {
  visibility: visible;
  opacity: 100%;
  translate: -50% calc(-100% - 1rem);
}

dialog {
  position: fixed;
  top: 0;
  background-color: color-mix(in srgb, var(--text-color), transparent 50%);
  border: none;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  pointer-events: none;
  opacity: 0%;
  transition: opacity 200ms ease;
}
dialog[show] {
  pointer-events: all;
  opacity: 100%;
}

a:has(.loading) {
  pointer-events: none;
}

.loading, img[alt=loading] {
  position: relative;
}
.loading:after, img[alt=loading]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--detail-color);
  background: linear-gradient(90deg, var(--detail-color) 0%, color-mix(in srgb, var(--detail-color), var(--background-color) 25%) 10%, var(--detail-color) 20%);
  background-size: 200% 100%;
  z-index: 2;
  pointer-events: none;
  animation: 1.5s loading-animation linear infinite;
}

tbody.loading {
  height: 8rem;
}

@keyframes loading-animation {
  to {
    background-position-x: -200%;
  }
}
#profile-menu {
  position: absolute;
  top: calc(100% - 0.5rem);
  padding: 0.5rem 0;
  background-color: var(--surface-color);
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0;
}
#profile-menu hr {
  height: 2px;
  margin: 0.25rem 1rem;
}
#profile-menu a {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  height: fit-content;
  color: var(--text-color);
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  text-transform: none;
  font-weight: 600;
  border-radius: 0;
  justify-content: start;
}
#profile-menu a:hover {
  text-decoration: none;
  background-color: var(--detail-color);
}
#profile-menu a.destructive {
  color: #EB3B5A;
}

#banner {
  position: relative;
  grid-column: 1/-1;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% + 2 * max((100dvw - 1280px) / 2, 2rem));
  aspect-ratio: 1280/413;
  max-height: 28rem;
  padding: 4rem;
}
#banner--background {
  position: absolute;
  top: 0;
  width: 100%;
  aspect-ratio: 1280/413;
  object-fit: cover;
}
#banner--logo {
  aspect-ratio: 958/539;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

nav > section,
#main-content {
  padding: 1.5rem 2rem;
}

nav,
#main-content,
section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
nav #main-content,
#main-content #main-content,
section #main-content {
  gap: 0.5rem;
}
nav #main-content > section:not(:has(> table)),
#main-content #main-content > section:not(:has(> table)),
section #main-content > section:not(:has(> table)) {
  margin-bottom: 0.5rem;
}

#body {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
  padding: 0 max((100dvw - 1280px) / 2, 2rem) 2rem max((100dvw - 1280px) / 2, 2rem);
  gap: 0 2rem;
}

nav {
  position: sticky;
  top: 6.5rem;
  height: fit-content;
  margin-top: 2rem;
}

#main-content {
  grid-column: span 3;
  margin-top: 2rem;
}
#main-content > section:not(:first-of-type) {
  margin-top: 2rem;
}
#main-content > section > section:not(:first-of-type) {
  margin-top: 1rem;
}

#main--top {
  gap: 0.25rem;
}
#main--top :has(#main--top--title) {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#main--top :has(#main--top--title) #main--top--title {
  flex-grow: 1;
}
#main--top :has(#main--top--title) #main--top--title h1 {
  line-height: 2.5rem;
}
#main--top :has(#main--top--title) #main--top--collection {
  max-width: fit-content;
}
#main--top--media {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0.75rem 0;
}
#main--top--media img {
  width: calc((100% - 1rem) * 0.6666666667);
  aspect-ratio: 600/900;
}
#main--top--media iframe {
  width: calc((100% - 1rem) * 1.7777777778);
  aspect-ratio: 16/9;
}

table {
  table-layout: auto;
  border-spacing: 0;
}

.table-small {
  font-size: small;
  vertical-align: top;
  text-align: left;
  border-collapse: collapse;
}
.table-small th,
.table-small td {
  padding: 0.5rem 0 calc(0.5rem + 2px) 0;
}
.table-small th {
  padding-top: 0;
}
.table-small th:first-child {
  text-align: left;
}
.table-small tbody tr td,
.table-small tbody tr th {
  border-top: 2px solid var(--detail-color);
}
.table-small tr:last-child td {
  border-bottom: none;
}
.table-small i {
  font-size: medium;
  color: #20BF6B;
}

.table-list {
  border-spacing: 0 1rem;
}
.table-list th {
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
  padding-right: 4rem;
}
.table-list td {
  width: 100%;
}
.table-list .separator {
  background-color: var(--detail-color);
  height: 2px;
}

#main--localization--age-ratings ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#main--localization--age-ratings li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  flex: 1 1 0;
  min-width: 0;
  list-style: none;
  padding: 0.5rem;
}
#main--localization--age-ratings small {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
#main--localization--age-ratings img {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: contain;
}

#main--localization .table-small tr *:not(:first-child) {
  width: 20%;
  text-align: center;
}

#main--releases .table-small {
  text-align: left;
  margin-bottom: 1rem;
}
#main--releases .table-small tr *:not(:nth-child(3)) {
  white-space: nowrap;
  padding-right: 2rem;
}
#main--releases .table-small td {
  vertical-align: top;
}
#main--releases .table-small td br {
  content: "";
  margin: 1em;
  display: block;
  font-size: 20%;
}

#nav--table-of-contents ul li {
  list-style: none;
}

#nav--external-links .grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}
#nav--external-links a {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
}
#nav--external-links img {
  width: 66%;
  height: 66%;
}

#main--additional-content--editions .card,
#main--additional-content--expansions .card,
#main--additional-content--dlcs .card {
  padding: 0;
  overflow: hidden;
  scale: 1;
}
#main--additional-content--editions .card:hover,
#main--additional-content--expansions .card:hover,
#main--additional-content--dlcs .card:hover {
  scale: 1;
}
#main--additional-content--editions > div,
#main--additional-content--expansions > div,
#main--additional-content--dlcs > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

#main--media ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
#main--media ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  overflow: hidden;
  background-color: var(--secondary-color);
}
#main--media ul li span {
  background-color: var(--surface-color);
  width: 100%;
  padding-top: 0.25rem;
  text-align: center;
}
#main--media ul li div {
  width: 100%;
  aspect-ratio: 16/9;
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease;
}
#main--media ul li div img {
  width: 20%;
}
#main--media ul li > img {
  width: 100%;
  transition: all 200ms ease;
}
#main--media ul li:hover > img {
  scale: 1.2;
  opacity: 60%;
  cursor: pointer;
}
#main--media ul li:hover div {
  background-size: 120%;
  opacity: 60%;
  cursor: pointer;
}

#media-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
#media-overlay img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  background-color: white;
}
#media-overlay iframe {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

#main--reception ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
#main--reception ul li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}
#main--reception ul li div:has(b) {
  display: flex;
  flex-direction: column;
  gap: 0;
}
#main--reception ul .main--reception--review {
  position: relative;
  color: var(--text-color);
  padding: 0;
}
#main--reception ul .main--reception--review--top {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  padding: 1rem 1rem 0 1rem;
  align-items: center;
}
#main--reception ul .main--reception--review--top--title {
  display: flex;
  flex-direction: column;
  gap: 0;
  flex-grow: 1;
  height: fit-content;
}
#main--reception ul .main--reception--review--top img {
  height: 2.5rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}
#main--reception ul .main--reception--review--text p {
  margin: 1rem;
  margin-top: 0.75rem;
  padding-bottom: 0.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#main--reception ul .main--reception--review--hover {
  position: absolute;
  bottom: 1rem;
  left: 0;
  opacity: 0%;
  width: 100%;
  font-weight: bold;
  transition: all 100ms ease;
  color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  padding: 3rem 1rem 0 1rem;
  background: linear-gradient(transparent, transparent, var(--detail-color), var(--detail-color));
}
#main--reception ul .main--reception--review:hover {
  text-decoration: none;
}
#main--reception ul .main--reception--review:hover .main--reception--review--hover {
  opacity: 100%;
}

#main--time-to-beat ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
#main--time-to-beat ul li:last-of-type {
  grid-column: span 2;
}
#main--time-to-beat ul li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
#main--time-to-beat ul b {
  align-self: stretch;
  text-align: center;
}

#main--prices i {
  color: var(--text-color);
}

.table-interactable tbody tr {
  transition: all 100ms ease;
}
.table-interactable tbody tr:hover {
  background-color: var(--detail-color);
  z-index: 2;
  cursor: pointer;
}
.table-interactable tbody tr:hover td {
  transition: all 100ms ease;
  border-color: var(--secondary-color);
}
.table-interactable tbody tr:hover + tr td {
  border-top: 2px solid var(--secondary-color);
}
.table-interactable tr:last-child td {
  border-bottom: 2px solid transparent;
}
.table-interactable img {
  width: 1rem;
  vertical-align: middle;
}

#main--top--collection {
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 100%;
}
#main--top--collection input {
  display: none;
}
#main--top--collection input + label {
  width: 2.5rem;
  height: calc(2.5rem + 1px);
  padding-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  border: 2px solid var(--detail-color);
  border-bottom: 4px solid var(--detail-color);
  color: var(--text-color);
  background-color: var(--surface-color);
  border-radius: 99rem;
}
#main--top--collection input:hover + label {
  text-decoration: none;
  cursor: pointer;
}
#main--top--collection input:checked + label {
  color: var(--surface-color);
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}
#main--top--collection input:checked[id$=favorites] + label {
  background-color: #F7B731;
  border-color: #FED330;
  color: #FED330;
}
#main--top--collection input:checked[id$=finished] + label {
  background-color: #20BF6B;
  border-color: #26DE81;
  color: #26DE81;
}
#main--top--collection input:checked[id$=playing-now] + label {
  background-color: var(--secondary-color);
  border-color: var(--secondary-alt-color);
  color: var(--secondary-alt-color);
}
#main--top--collection input:checked[id$=playing-now] + label i {
  filter: brightness(115%);
}
#main--top--collection input:checked[id$=want-to-play] + label {
  background-color: #EB3B5A;
  border-color: #FC5C65;
  color: #FC5C65;
}
#main--top--collection input:checked[id$=want-to-play] + label i {
  filter: brightness(125%);
}

/*# sourceMappingURL=games.css.map */
