*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-color: #233034;
    --background-color: #172021;
    --detail-color: #3a464e;
    --primary-color: #FE7E01;
    --secondary-color: #1CB0F6;
    --secondary-alt-color: #45AAF2;
    --text-color: #f0f6fb;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --surface-color: #FFFFFF;
    --background-color: #F7F7F7;
    --detail-color: #E5E5E5;
    --primary-color: #FE7E01;
    --secondary-color: #2D98DA;
    --secondary-alt-color: #45AAF2;
    --text-color: #4B4B4B;
  }
}
header #logo, header > div {
  flex: 1 1 0px;
}

#filters > section, search menu, .card, button {
  padding: 1rem;
  background-color: var(--surface-color);
  border-radius: 0.5rem;
  box-shadow: 0 0 4px 0 var(--detail-color);
}

.card, button {
  border: 2px solid var(--detail-color);
  box-shadow: 0 2px 0 var(--detail-color);
  transition: all 100ms ease;
}
.card:hover, button:hover {
  background-color: var(--detail-color);
  border-color: var(--secondary-color);
  box-shadow: 0 2px 0 var(--secondary-color);
  cursor: pointer;
}

:root {
  color: var(--text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.dark-mode {
  --surface-color: #233034;
  --background-color: #172021;
  --detail-color: #3a464e;
  --primary-color: #FE7E01;
  --secondary-color: #1CB0F6;
  --secondary-alt-color: #45AAF2;
  --text-color: #f0f6fb;
}

input,
select,
textarea,
button {
  font-family: inherit;
}
input:focus-visible,
select:focus-visible,
textarea:focus-visible,
button:focus-visible {
  border: 2px solid var(--detail-color);
  outline: none;
}

input[type=search], input[type=text], select {
  font-family: inherit;
  border: 2px solid var(--detail-color);
  border-radius: 0.5rem;
  padding: 0 1rem;
  background-color: var(--surface-color);
  height: 2.5rem;
}
input[type=search]:focus-visible, input[type=text]:focus-visible, select:focus-visible {
  border: 2px solid var(--secondary-color);
  outline: none;
}

div:has(select) {
  position: relative;
}
div:has(select) select {
  appearance: none;
  background-image: url("/images/icons/caret-down-light.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
  padding-right: 2.5rem;
}
div:has(select) i {
  position: absolute;
  font-size: 0.75rem;
  top: 50%;
  right: 1rem;
  translate: 0 -50%;
}

div:has(input[type=checkbox]) input[type=checkbox]:hover, div:has(input[type=checkbox]) label:hover {
  text-decoration: underline;
  cursor: pointer;
}

button {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  height: 3rem;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: bold;
}
button.primary {
  color: var(--surface-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-detail-color);
  box-shadow: 0 2px 0 var(--secondary-detail-color);
}
button.primary:hover {
  background-color: var(--secondary-hover-color);
  border-color: var(--secondary-color);
  box-shadow: 0 2px 0 var(--secondary-color);
}
button.secondary {
  color: var(--secondary-color);
  background-color: var(--surface-color);
  border-color: var(--secondary-color);
  box-shadow: 0 2px 0 var(--secondary-color);
}
button.secondary:hover {
  background-color: var(--detail-color);
  border-color: var(--secondary-color);
  box-shadow: 0 2px 0 var(--secondary-color);
}
button.tertiary {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  box-shadow: none;
}
button.tertiary:hover {
  background-color: var(--detail-color);
}
button.destructive {
  color: #EB3B5A;
}

header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  --surface-color: #233034;
  --background-color: #172021;
  --detail-color: #3a464e;
  --primary-color: #FE7E01;
  --secondary-color: #1CB0F6;
  --secondary-alt-color: #45AAF2;
  --text-color: #f0f6fb;
  background-color: var(--surface-color);
  height: 4.5rem;
  align-items: center;
  padding: 1rem max((100dvw - 1280px) / 2, 2rem);
  position: sticky;
  top: 0;
  z-index: 10;
  grid-column: 1/-1;
}
header > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
header #logo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100%;
}
header #logo * {
  height: 100%;
}
header div:has(search) {
  flex-grow: 2;
}

search {
  position: relative;
  --surface-color: #FFFFFF;
  --background-color: #F7F7F7;
  --detail-color: #E5E5E5;
  --primary-color: #FE7E01;
  --secondary-color: #2D98DA;
  --secondary-alt-color: #45AAF2;
  --text-color: #4B4B4B;
  flex-grow: 2;
  height: 2.5rem;
}
search form, search div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100%;
  position: relative;
}
search form input, search div input {
  width: 100%;
  height: 100%;
  padding-right: 3.5rem;
}
search form button.tertiary, search div button.tertiary {
  position: absolute;
  right: 0;
  height: 100%;
  width: 2.5rem;
  border-radius: 50%;
}
search menu {
  position: absolute;
  border: 2px solid var(--detail-color);
  padding: 0;
  top: bottom;
  width: 100%;
  translate: 0 0.5rem;
  max-height: min(100dvh - 4rem, 24rem);
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: stretch;
  overflow: hidden;
}
search menu ul {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
search menu > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  max-height: fit-content;
  z-index: 11;
}

.searchbar--item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  border-top: 2px solid var(--surface-color);
  border-bottom: 2px solid var(--surface-color);
}
.searchbar--item .cover {
  height: 100%;
  aspect-ratio: 264/352;
  background-color: var(--background-color);
  background-size: contain;
}
.searchbar--item:hover {
  background-color: var(--detail-color);
  text-decoration: none;
  border-color: var(--secondary-color);
  z-index: 12;
}

.icon-button {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: background-color 100ms ease;
}
.icon-button i {
  font-size: 150%;
}
.icon-button:hover {
  cursor: pointer;
  background-color: var(--background-color);
}
.icon-button:active {
  background-color: var(--detail-color);
}
.icon-button i {
  color: var(--text-color);
}

div:has(> .user-profile) {
  justify-content: flex-end;
}

.user-profile {
  display: flex;
  flex-direction: row;
  gap: calc(0.5rem + 4px);
  border: none;
  background-color: transparent;
  align-items: center;
  color: var(--text-color);
  padding: 0;
  border-radius: 99rem;
  transition: all 100ms ease;
  box-shadow: none;
  width: 2.5rem;
  height: 2.5rem;
}
.user-profile:hover {
  cursor: pointer;
  background-color: var(--background-color);
  box-shadow: none;
  border-radius: 99rem;
}
.user-profile:hover img {
  outline-color: var(--secondary-color);
}
.user-profile:active {
  background-color: var(--detail-color);
}

.profile-picture {
  width: calc(2.5rem - 8px);
  aspect-ratio: 1;
  border-radius: 50%;
  outline: 2px solid var(--text-color);
  outline-offset: 2px;
  transition: all 100ms ease;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  white-space: pre-wrap;
  font-weight: normal;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

body {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--background-color);
  overflow: hidden;
  scroll-padding-top: 7rem;
}

main {
  width: 100dvw;
  height: 100dvh;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
main #body {
  flex-grow: 1;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section > .content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  position: relative;
}

.card {
  padding: 0;
  color: var(--text-color);
  flex: 1 1 0px;
  min-width: 0;
  pointer-events: all;
  opacity: 100%;
  position: relative;
  overflow: hidden;
}
.card b {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 1lh;
}
.card small {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 1lh;
  max-width: 100%;
}
.card .cover {
  background-size: cover;
  background-position: center;
  background-color: var(--background-color);
}
.card .cover.landscape {
  aspect-ratio: 460/215;
}
.card .cover.portrait {
  aspect-ratio: 359/539;
}
.card .cover.thumb {
  aspect-ratio: 264/352;
}
.card > .content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
  justify-content: center;
}
.card:hover {
  text-decoration: none;
  z-index: 1;
}

.card.vertical {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.card.vertical .cover {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 1rem;
}

ul.subtexts {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  list-style-type: none;
  min-height: 1rem;
}
ul.subtexts li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: min-content;
  max-width: 100%;
}
ul.subtexts li:last-of-type {
  flex: 1 1 0;
  min-width: 0;
}

small {
  font-size: 0.75rem;
}
small a {
  color: var(--text-color);
}

.rating-1, .rating-2, .rating-3, .rating-4, .rating-5 {
  --surface-color: #FFFFFF;
  --background-color: #F7F7F7;
  --detail-color: #E5E5E5;
  --primary-color: #FE7E01;
  --secondary-color: #2D98DA;
  --secondary-alt-color: #45AAF2;
  --text-color: #4B4B4B;
  display: flex;
  flex-direction: row;
  gap: 0;
  display: inline-block;
  border-radius: 50%;
}
.rating-1 span, .rating-2 span, .rating-3 span, .rating-4 span, .rating-5 span {
  font-weight: bold;
  font-size: 1.5rem;
}

.rating-5 span {
  color: #20BF6B;
}

.rating-4 span {
  color: #26DE81;
}

.rating-3 span {
  color: #F7B731;
}

.rating-2 span {
  color: #FED330;
}

.rating-1 span {
  color: #EB3B5A;
}

.card.horizontal {
  display: flex;
  flex-direction: row;
  gap: 0;
}
.card.horizontal:has(> .cover.landscape) {
  min-height: 6rem;
}
.card.horizontal:has(> .cover.portrait) {
  height: 4rem;
}
.card.horizontal:has(> .cover.thumb) {
  height: 8rem;
}
.card.horizontal .content {
  flex-grow: 1;
  min-width: 0;
}

.countdown {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1rem 1rem 2.25rem 1rem;
  align-items: center;
}
.countdown div {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  position: relative;
}
.countdown hr {
  width: 2px;
  height: 1rem;
}
.countdown span {
  background-color: var(--detail-color);
  border: 2px solid var(--surface-color);
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.5rem;
}
.countdown small {
  position: absolute;
  width: 100%;
  bottom: -1.25rem;
  text-align: center;
}

.smaller {
  font-size: 0.625rem;
}

hr {
  background-color: var(--detail-color);
  border: none;
  border-radius: 1px;
}
hr .vertical {
  height: 100%;
  width: 2px;
}
hr .horizontal {
  height: 2px;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  --surface-color: #233034;
  --background-color: #172021;
  --detail-color: #3a464e;
  --primary-color: #FE7E01;
  --secondary-color: #1CB0F6;
  --secondary-alt-color: #45AAF2;
  --text-color: #f0f6fb;
  background-color: var(--surface-color);
  color: var(--text-color);
  align-items: center;
  width: 100%;
  padding: 2rem max((100dvw - 1280px) / 2, 2rem);
  grid-column: 1/-1;
}
footer #community {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
footer #community b {
  width: 100%;
  text-align: center;
}
footer #community a {
  text-decoration: none;
}
footer #legal {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  opacity: 50%;
  align-items: center;
}
footer #legal > small {
  padding-top: 0.125rem;
  height: 1rem;
}
footer #legal ul {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}
footer #legal li {
  list-style: none;
}
footer #legal a {
  color: var(--text-color);
}

@keyframes loading {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
iframe {
  background-color: black;
  border: none;
}

platform-prefab i, platform-prefab img {
  margin-top: 1px;
}
platform-prefab a {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: lightgrey;
  color: white;
  align-items: center;
}
platform-prefab img {
  height: 1rem;
  width: 1rem;
  filter: invert(100%) sepia(98%) saturate(8%) hue-rotate(151deg) brightness(103%) contrast(102%);
}

*:has(> my-tooltip) {
  position: relative;
}
*:has(> my-tooltip) my-tooltip {
  --surface-color: #233034;
  --background-color: #172021;
  --detail-color: #3a464e;
  --primary-color: #FE7E01;
  --secondary-color: #1CB0F6;
  --secondary-alt-color: #45AAF2;
  --text-color: #f0f6fb;
  position: absolute;
  visibility: hidden;
  opacity: 0%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  top: 0;
  left: 50%;
  translate: -50% -100%;
  z-index: 20;
  color: var(--text-color);
  width: max-content;
  text-align: center;
  background-color: var(--surface-color);
  transition: all 100ms ease;
}
*:has(> my-tooltip) my-tooltip::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50% -50%;
  rotate: 45deg;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--surface-color);
}
*:has(> my-tooltip):hover my-tooltip:not(:empty) {
  visibility: visible;
  opacity: 100%;
  translate: -50% calc(-100% - 1rem);
}

dialog {
  position: fixed;
  top: 0;
  background-color: color-mix(in srgb, var(--text-color), transparent 50%);
  border: none;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  pointer-events: none;
  opacity: 0%;
  transition: opacity 200ms ease;
}
dialog[show] {
  pointer-events: all;
  opacity: 100%;
}

a:has(.loading) {
  pointer-events: none;
}

.loading, img[alt=loading] {
  position: relative;
}
.loading:after, img[alt=loading]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--detail-color);
  background: linear-gradient(90deg, var(--detail-color) 0%, color-mix(in srgb, var(--detail-color), var(--background-color) 25%) 10%, var(--detail-color) 20%);
  background-size: 200% 100%;
  z-index: 2;
  pointer-events: none;
  animation: 1.5s loading-animation linear infinite;
}

tbody.loading {
  height: 8rem;
}

@keyframes loading-animation {
  to {
    background-position-x: -200%;
  }
}
#profile-menu {
  position: absolute;
  top: calc(100% - 0.5rem);
  padding: 0.5rem 0;
  background-color: var(--surface-color);
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0;
}
#profile-menu hr {
  height: 2px;
  margin: 0.25rem 1rem;
}
#profile-menu a {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  height: fit-content;
  color: var(--text-color);
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  text-transform: none;
  font-weight: 600;
  border-radius: 0;
  justify-content: start;
}
#profile-menu a:hover {
  text-decoration: none;
  background-color: var(--detail-color);
}
#profile-menu a.destructive {
  color: #EB3B5A;
}

#body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
  padding: 2rem max((100dvw - 1280px) / 2, 2rem);
  gap: 2rem;
}

#filters {
  position: sticky;
  top: 6.5rem;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: span 1;
  min-width: 0;
}
#filters > section {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  border: 2px solid var(--detail-color);
  box-shadow: 0 2px 0 var(--detail-color);
}
#filters > section:has(div.open) button i {
  rotate: 180deg;
}
#filters > section button {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  border-radius: 0;
}
#filters > section button i {
  transition: all 100ms ease;
}
#filters > section div {
  transition: all 200ms ease;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 0;
  margin-right: 1rem;
  margin-left: 1rem;
  overflow: hidden;
}
#filters > section div input[type=search] {
  min-height: 2.5rem;
}
#filters > section div.open {
  flex: 1;
  max-height: none;
  margin-bottom: 1rem;
}
#filters > section div ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-right: 1rem;
  overflow-y: auto;
  height: fit-content;
  max-height: 24rem;
}
#filters > section .filter--preview {
  transition: all 200ms ease;
  font-size: small;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
  list-style: none;
  color: var(--secondary-color);
  overflow: hidden;
  padding: 0 1rem 0 1rem;
}
#filters > section .filter--preview.open:has(li:not([style*="display: none"])) {
  padding: 0 1rem 1rem 1rem;
}
#filters > section .filter--preview li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.25rem 0.5rem;
  background-color: color-mix(in srgb, var(--secondary-color), transparent 75%);
  border-radius: 100rem;
}
#filters > section .filter--preview li:hover {
  cursor: pointer;
  text-decoration: underline;
}
#filters li:has(input[type=checkbox]) {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  max-height: 1lh;
}
#filters li:has(input[type=checkbox]) label {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#main-content {
  grid-column: span 3;
  width: 100%;
}
#main-content--top {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
#main-content--top search {
  max-width: 50%;
}
#main-content--top--sort label {
  margin-right: 0.5rem;
}

#main-content--grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  gap: 1rem;
}
#main-content--grid .cover {
  padding: 0;
  background-size: cover;
  position: relative;
}
#main-content--grid .cover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  border-radius: 8px;
  z-index: 1;
}
#main-content--grid .cover img {
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#main-content--grid.loading-opacity {
  transition: opacity 50ms ease;
  opacity: 50%;
}
#main-content--grid.loading-opacity * {
  pointer-events: none;
}

#main-content--pages {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  margin-top: 1rem;
}
#main-content--pages button {
  max-width: 2.5rem;
  height: 2.5rem;
}
#main-content--pages button.disabled {
  opacity: 50%;
  pointer-events: none;
}
#main-content--pages button.current {
  color: var(--secondary-color);
  border: 2px solid var(--detail-color);
}
#main-content--pages button.current:hover {
  cursor: default;
  background-color: transparent;
}

/*# sourceMappingURL=search.css.map */
