@import "./style";

main {
    @include grid();
    position: relative;
    grid-template-columns: 2fr 5fr;
    justify-content: center;
    padding: 2rem $side-padding;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#game-hero {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
    filter: brightness(75%);
}

#game-logo {
    @include center();
    grid-column: span 2;
    aspect-ratio: 1920/492;
    margin-bottom: 1rem;

    img {
        height: 100%;
        width: 50%;
        object-fit: contain;
    }
}

.frame {
    background-color: var(--surface-color);
    box-shadow: var(--shadow);
    padding: 2rem;
}

section {
    @include flex(column);
}

#side {
    position: sticky;
    top: 6.5rem;
    height: fit-content;
}

#page {
    @include flex(column, 2rem);
}

#table-of-contents, #external-links {
    @include flex(column);

    ul {
        @include flex(column, .25rem);
    }

    li {
        list-style: none;
    }

    a {
        font-weight: normal;
    }
}

#hero {
    gap: .5rem;

    div {
        @include flex();
        margin: .5rem 0;

        img {
            width: calc((100% - 1rem) * (264/352));
            aspect-ratio: 264/352;
        }

        iframe {
            width: calc((100% - 1rem) * (552/358));
            aspect-ratio: 552/358;
        }
    }
}

hr {
    width: 100%;
    height: $outline-width;
}

.about-list,
.release-list {
    @include flex();
    width: 100%;

    &.about-platforms {
        flex-direction: column;
        gap: .5rem;
    }

    b {
        width: 16rem;
        min-width: 16rem;
    }

    ul {
        @include flex(flex, .5rem);
        flex-wrap: wrap;
        flex-grow: 1;
    }

    &.release-list {
        ul {
            @include flex(column, .5rem);
        }
    }

    li {
        list-style: none;

        b {
            font-weight: 600;
        }
    }

    a {
        font-weight: normal;
    }

    .chip {
        padding: .25rem .5rem;
        border-radius: calc($border-radius / 2);

        a {
            color: white;
        }
    }
}

table {
    table-layout: fixed;
    border-spacing: 0;

    td,
    th {
        vertical-align: top;
        padding: .5rem 1rem;
        border-bottom: $outline-width solid var(--background-color);
        font-size: .75rem;

        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
        }
    }

    td {
        text-align: center;
    }

    i {
        color: var(--primary-color);
        font-size: 1rem;
    }
}

#languages {
    *:first-child~td,
    *:first-child~th {
        width: 20%;
    }
    td:nth-child(1),
    th:nth-child(1) {
        text-align: left;
    }
}
#releases {
    table-layout: fixed;
    td,th {
        text-align: left;

        &:nth-child(3) {
            width: 40%;
        }
        &:nth-child(4) {
            width: 25%;
        }
    }
    .expandable {
        width: auto;
    }
    .first-release-date {
        font-weight: bold;
    }
}

#age div {
    @include flex();
    width: 100%;

    span {
        @include flex(column, .5rem);
        align-items: center;
        padding: 1rem;
        padding-top: .5rem;
        border-radius: $border-radius;
        border: $outline-width solid var(--background-color);
        flex: 1 1 0px;
        min-width: 0;
        position: relative;

        small {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
            max-width: calc(100%);
        }

        img {
            aspect-ratio: 1/1;
            width: 100%;
            object-fit: contain;
        }

        &:hover {
            cursor: pointer;
            background-color: var(--background-color);
        }
    }
}

#external-links .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: .5rem;

    a {
        aspect-ratio: 1;
        border-radius: calc($border-radius / 2);
        background-color: black;
        @include center();

        img {
            width: 66%;
            height: 66%;
            object-fit: contain;
        }
    }
}