// npx sass --watch ./SCSS:./CSS
@import "./style";

#banner {
    position: relative;
    grid-column: 1 / -1;
    z-index: -1;
    @include center();
    width: calc(100% + (2 * $side-padding));
    aspect-ratio: 1280 / 413;
    padding: 4rem;

    &--background {
        position: absolute;
        top: 0;
        width: 100%;
        aspect-ratio: 1280 / 413;
        object-fit: cover;
    }

    &--logo {
        aspect-ratio: 958 / 539;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }
}

nav > section,
 #main-content {
    @extend %surface;
    padding: 2rem;
}

nav,
#main-content,
section {
    @include flex(column);
    width: 100%;
}

#body {
    width: 100%;
    position: relative;
    @include grid(4);
    justify-items: center;
    padding: 0 $side-padding;
    gap: 2rem;
}

nav {
    position: sticky;
    top: 6.75rem;
    height: fit-content;
}

#main-content {
    grid-column: span 3;
}

#main--top {
    gap: 0.25rem;

    &--media {
        @include flex();
        margin: 0.75rem 0;

        img {
            width: calc((100% - 1rem) * (600 / 900));
            aspect-ratio: 600 / 900;
        }

        iframe {
            width: calc((100% - 1rem) * (16 / 9));
            aspect-ratio: 16 / 9;
        }
    }
}

table {
    table-layout: auto;
    border-spacing: 0;
}

.table-small {
    font-size: small;
    vertical-align: top;

    th,
    td {
        padding: 0.5rem 0 calc(0.5rem + $outline-width) 0;
    }

    th {
        padding-top: 0;

        &:first-child {
            text-align: left;
        }
    }

    tr:last-child td {
        padding-bottom: 0;
    }

    tr:not(:last-child) td,
    th {
        border-bottom: $outline-width solid var(--detail-color);
    }

    i {
        font-size: medium;
        color: $success-color;
    }
}

.table-list {
    tr:not(:last-child) td,
    tr:not(:last-child) th {
        padding-bottom: 1rem;
    }

    th {
        text-align: left;
        vertical-align: top;
        white-space: nowrap;
        padding-right: 4rem;
    }

    .table-separator {
        th,
        td {
            border-bottom: $outline-width solid var(--detail-color);
        }

        & + tr th,
        & + tr td {
            padding-top: 1rem;
        }
    }
}

#main--localization--age-ratings {
    ul {
        @include flex();
    }

    li {
        @include flex(column, 0.5rem);
        @extend %interactable;
        align-items: center;
        flex: 1 1 0;
        min-width: 0;
        list-style: none;
        padding: 0.5rem;
    }

    small {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
    }

    img {
        aspect-ratio: 1 / 1;
        width: 100%;
        object-fit: contain;
    }
}

#main--localization .table-small {
    tr *:not(:first-child) {
        width: 20%;
        text-align: center;
    }
}

#main--releases .table-small {
    text-align: left;
    margin-bottom: 1rem;

    tr *:not(:nth-child(3)) {
        white-space: nowrap;
        padding-right: 2rem;
    }

    td {
        vertical-align: top;

        br {
            content: "";
            margin: 1em;
            display: block;
            font-size: 20%;
        }
    }
}

#nav--table-of-contents ul {
    li {
        list-style: none;
    }
}

#nav--external-links {
    .grid {
        @include grid(7, 0.5rem);
    }

    a {
        width: 100%;
        aspect-ratio: 1 / 1;
        @include center();
        border-radius: $border-radius / 2;
    }

    img {
        width: 66%;
        height: 66%;
    }
}

#main--additional-content--editions,
#main--additional-content--expansions,
#main--additional-content--dlcs{
    .card {
        @extend %interactable;
        overflow: hidden;
        scale: 1;

        &:hover {
            scale: 1;
        }
    }

    >div{
        @include grid(4);
    }
}

#main--media {
    ul{
        @include grid(2);

        li {
            list-style: none;
            @include flex(column, 0);
            align-items: center;
            overflow: hidden;
            background-color: var(--secondary-color);

            span {
                background-color: var(--surface-color);
                width: 100%;
                padding-top: .25rem;
                text-align: center;
            }

            div {
                width: 100%;
                aspect-ratio: 16/9;
                background-size: 100%;
                background-position: center;
                @include center();
                @include transition(all, $transition-duration-smooth, ease);

                img {
                    width: 20%;
                }
            }

            >img {
                width: 100%;
                @include transition(all, $transition-duration-smooth, ease);
            }

            &:hover {
                >img {
                    scale: 1.2;
                    opacity: 60%;
                    cursor: pointer;
                }
                div {
                    background-size: 120%;
                    opacity: 60%;
                    cursor: pointer;
                }
            }
        }
    }
}

#media-overlay {
    @include center();
    padding: 2rem;

    img {
        width: 100%;
        object-fit: contain;
    }

    iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
    }
}