@import "./style";

#body {
    @include flex(column, 4rem);
    padding: 2rem $side-padding;
}

#most-anticipated {
    flex: 3 1 0px;
    max-width: calc((100% - 4rem) * .6);

    .card {
        max-width: 100%;
    }
}

#coming-soon {
    flex: 2 1 0px;
    .content {
        @extend %flexElement;
    }
}

section:not(#body):has(>section) {
        @include flex(row, 4rem);
    
        &>section>.content {
            flex-direction: column;
        }
}