// npx sass --watch ./SCSS:./CSS
@import "./style";

// Layout
#body {
    width: 100%;
    position: relative;
    @include grid(4);
    justify-items: center;
    padding: 0 $side-padding 2rem $side-padding;
    gap: 0 4rem;
}

aside {
    @extend %surface;
    position: sticky;
    height: fit-content;
    margin-top: 2rem;
    top: 6.5rem;
    width: 100%;
}

#main-content {
    @include flex(column, 4rem);
    grid-column: span 3;
    margin-top: 2rem;
    width: 100%;
}

// Profile Card
#profile_card {
    @include flex(column, 0.5rem);
    align-items: center;
    padding: 2rem 1rem 1rem 1rem;
    overflow: hidden;

    &-identity {
        @include flex(column, 0);
        align-items: center;
    }

    &-banner {
        position: absolute;
        width: 100%;
        top: 0;
        aspect-ratio: 5/2;
        object-fit: cover;
        background-repeat: repeat;
        background-size: 100%;
    }

    &-picture {
        width: 50%;
        aspect-ratio: 1/1;
        border-radius: 100%;
        margin-bottom: 0.5rem;
        z-index: 1;
        outline: $outline-width*2 solid var(--surface-color);
    }

    &-stats {
        margin-top: 1rem;
        @include grid(2, 0.5rem);
        width: 100%;

        h4{
            grid-column: span 2;
        }

        a {
            width: 100%;
            @include flex(row, 0.5rem);
            padding: 0.5rem;
            align-items: center;
            justify-content: space-between;
            border-radius: $border-radius;
            &:hover {
                    text-decoration: none;   }
        }

        i{
            text-shadow: 0 0 0.5rem rgba($color: black, $alpha: 0.25);
        }

        b{
            color: var(--surface-color);
        }

        &-completed {
            background-color: $warning-color;
            color: $warning-alt-color;
        }
        &-played {
            background-color: $success-color;
            color: $success-alt-color;
        }
        &-backlog {
            background-color: var(--secondary-color);
            color: var(--secondary-alt-color);
        }
        &-wishlist {
            background-color: $error-color;
            color: $error-alt-color;
        }
    }

    &-favorites {
        margin-top: 1rem;
        @include grid(3, 0.5rem);
        width: 100%;
        margin-bottom: 1rem;
        
        h4 {
            grid-column: span 3;
        }

        img, .fill_cells-placeholder {
            border-radius: $border-radius;
            aspect-ratio: 359/539;
            width: 100%;
        }
    }

    &-edit {
        width: 100%;
    }
}

// Lists (Finished, Owned, Wanted)
#completed, #played, #backlog, #wishlist {
    position: relative;
    > .content {
        @include grid(3);
        grid-auto-rows: 1fr;
        width: 100%;
        flex-wrap: nowrap;
    }
}

.navigation {
    @include flex(row, 0.5rem);

    button {
        aspect-ratio: 1/1;
    }
}

div:has(>.profile-card--portrait){
    position: relative;
}

.section-title {
    @include flex(row, 0.5rem);
    justify-content: space-between;
    align-items: center;
}

#profile_editor {
    @include center;
    padding: 2rem;

    >section {
        @extend %surface;
        width: 66%;
        height: 100%;
        aspect-ratio: 16/9;
        padding: 1.5rem 2rem;
        gap: 1.5rem;
    }

    form {
        height: 100%;
    }

    &-form {
        gap: 2rem;

        &-picture {
            flex: 1 1 0;
            height: 100%;
            aspect-ratio: 1/1;
            border-radius: 100%;
            background-color: var(--secondary-color);
            border: $outline-width solid var(--surface-color);
            outline: $outline-width solid var(--detail-color);

            position: relative;

            &-button {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                opacity: 100%;
                @include transition(opacity);
                &:hover {
                    opacity: 50%;
                    cursor: pointer;  
                }
            }

            &-icon {
                position: absolute;
                border-radius: 100%;
                background-color: var(--surface-color);
                border: $outline-width solid var(--detail-color);
                width: 2.5rem;
                height: 2.5rem;
                bottom: -$outline-width*2;
                right: -$outline-width*2;

                i {
                    @extend %center;
                    color: var(--text-color);
                }
            }

            &-selector {
                @extend %surface;
                position: absolute;
                @include grid(4);
                left: 50%;
                top: 50%;
                z-index: +1;

                button {
                    width: 4rem;
                    height: 4rem;
                    aspect-ratio: 1/1;
                    border-radius: 100%;
                    background-size: cover;
                }
            }
        }

        &-general {
            width: 100%;

            div {
                gap: 0.25rem;
            }
        }
    }

    &-favorites {
        margin-top: 1rem;
        flex: 1 1 0;
        @include flex(column, 0.25rem);

        &-body {
            flex: 1 1 0;
            overflow-y: scroll;
            border-radius: $border-radius;
            border: $outline-width solid var(--detail-color);
        }

        &-container {
            flex-wrap: wrap;

            @include responsive-grid(6rem);
            padding: 1rem;

            label {
                aspect-ratio: 359/539;
                background-color: var(--secondary-color);
                background-size: cover;
                border-radius: $border-radius;
                border: $outline-width solid var(--surface-color);
                outline: $outline-width solid var(--surface-color);
                
                &:hover {
                    cursor: pointer;
                    background-blend-mode: soft-light;
                }
            }
            
            input:checked+label {
                border: $outline-width solid var(--surface-color);
                outline: $outline-width*1.5 solid var(--secondary-color);
            }
            input:disabled+label {
                opacity: 50%;
                pointer-events: none;
            }
        }
    }
    
    &-footer {
        width: 100%;
        justify-content: end;
    }
}