// npx sass --watch ./SCSS:./CSS

*,
::before,
::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

$success-color: #20BF6B;
$success-alt-color: #26DE81;
$warning-color: #F7B731;
$warning-alt-color: #FED330;
$error-color: #EB3B5A;
$error-alt-color: #FC5C65;

$light-mode: (
    surface: #FFFFFF,
    background: #F7F7F7,
    detail: #E5E5E5,
    primary: #FE7E01,
    secondary: #2D98DA,
    secondary-alt: #45AAF2,
    text: #4B4B4B,
);

$dark-mode: (
    surface: #233034,
    background: #172021,
    detail: #3a464e,
    primary: #FE7E01,
    secondary: #1CB0F6,
    secondary-alt: #45AAF2,
    text: #f0f6fb,
);


@mixin theme($theme) {
    @each $key, $value in $theme {
        --#{$key}-color: #{$value};
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        @include theme($dark-mode);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        @include theme($light-mode);
    }
}

$side-padding: max(calc((100dvw - 1280px) / 2), 2rem);
$transition-duration-instant: 100ms;
$transition-duration-smooth: 200ms;
$border-radius: .5rem;
$outline-width: 2px;
$shadow: 0 .125rem .125rem 0 rgba(0, 0, 0, .1);

@mixin flex($direction: row, $gap: 1rem) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

@mixin grid($columns: 2, $gap: 1rem) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}

@mixin responsive-grid($column-size, $min-columns:5, $max-columns:10, $gap: 1rem) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%/$min-columns, max($column-size, 100%)), 1fr));
    gap: $gap;
}

@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition($property: all, $duration: $transition-duration-instant, $ease: ease) {
    transition: $property $duration $ease;
}

%flexElement {
    flex: 1 1 0px;
}

%surface {
    padding: 1rem;
    background-color: var(--surface-color);
    border-radius: $border-radius;
    box-shadow: 0 0 4px 0 var(--detail-color);
}

%bubble {
    @extend %surface;
    background-color: var(--background-color);
    border: none;
    box-shadow: none;
}

%interactable {
    @extend %surface;
    border: $outline-width solid var(--detail-color);
    box-shadow: 0 $outline-width 0 var(--detail-color);
    @include transition();

    &:hover {
        background-color: var(--detail-color);
        border-color: var(--secondary-alt-color);
        box-shadow: 0 $outline-width 0 var(--secondary-alt-color);
        cursor: pointer;
    }
}

:root {
    color: var(--text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark-mode {
    @include theme($dark-mode);
}

input,
select,
textarea,
button {
    font-family: inherit;

    &:focus-visible {
        border: $outline-width solid var(--detail-color);
        outline: none;
    }
}

input[type=search], input[type=text], input[type=password], input[type=email], select {
    font-family: inherit;
    border: $outline-width solid var(--detail-color);
    border-radius: $border-radius;
    padding: 0 1rem;
    background-color: var(--surface-color);
    height: 2.5rem;

    &:focus-visible {
        border: $outline-width solid var(--secondary-color);
        outline: none;
    }
}

div:has(select) {
    position: relative;

    select {
        appearance: none;
        background-image: url("/images/icons/caret-down-light.svg");
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: calc(100% - 8px) center;
        padding-right: +2.5rem;
    }

    i {
        position: absolute;
        font-size: 0.75rem;
        top: 50%;
        right: 1rem;
        translate: 0 -50%;
    }
}

div:has(input[type=checkbox]) {
    input[type=checkbox], label {
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

button, input[type="submit"] {
    @include flex(row, .25rem);
    @include center();
    padding: 0 1rem;
    height: 2.5rem;
    color: var(--secondary-alt-color);
    text-transform: uppercase;
    font-weight: bold;
    @extend %interactable;

    &.primary {
        color: var(--surface-color);
        background-color: var(--secondary-alt-color);
        border-color: var(--secondary-color);
        box-shadow: 0 $outline-width 0 var(--secondary-color);
        &:hover {
                background-color: var(--secondary-color);
                border-color: var(--secondary-color);
                box-shadow: 0 $outline-width 0 var(--secondary-color);
        }
    }
    &.secondary {
        color: var(--secondary-alt-color);
        background-color: var(--surface-color);
        border-color: var(--secondary-alt-color);
        box-shadow: 0 $outline-width 0 var(--secondary-alt-color);
        &:hover {
            background-color: var(--detail-color);
            border-color: var(--secondary-color);
            box-shadow: 0 $outline-width 0 var(--secondary-color);
        }
    }
    &.tertiary {
        background-color: transparent;
        color: var(--text-color);
        border: none;
        box-shadow: none;

        &:hover {
            background-color: var(--detail-color);
        }

        &:has(i) {
            translate: 25% 0;
        }
    }
    &.destructive {
        color: $error-color;
    }

    i{
        font-size: 1rem;
    }
}

header {
    @include flex();
    background-color: map-get($dark-mode, surface);
    height: calc(2.5rem + 2rem);
    align-items: center;
    padding: 1rem $side-padding;
    position: sticky;
    top: 0;
    z-index: 10;
    grid-column: 1/-1;

    >div {
        @include flex();
        @extend %flexElement;
    }

    #logo {
        @include flex();
        @extend %flexElement;
        height: 100%;
    
        * {
            height: 100%;
        }
    }

    div:has(search) {
        flex-grow: 2;
    }
}

search {
    position: relative;
    @include theme($light-mode);
    flex-grow: 2;
    height: 2.5rem;

    form, div {
        @include flex();
        height: 100%;
        position: relative;

        input {
            width: 100%;
            height: 100%;
            padding-right: 3.5rem;
        }

        button.tertiary {
            position: absolute;
            right: 0;
            height: 100%;
            width: 2.5rem;
            border-radius: 50%;
        }
    }

    menu {
        position: absolute;
        @extend %surface;
        border: $outline-width solid var(--detail-color);
        padding: 0;
        top: bottom;
        width: 100%;
        translate: 0 0.5rem;
        max-height: Min(calc(100dvh - 4rem), 24rem);
        @include flex(column, 0);
        align-items: stretch;
        overflow: hidden;

        ul {
            flex-grow: 1;
            overflow-x: hidden;
            overflow-y: auto;
        }

        >div {
            @include flex();
            padding: 1rem;
            justify-content: space-between;
            align-items: center;
            background-color: var(--background-color);
            max-height: fit-content;
            z-index: 11;
        }
    }
}

input.error {
    border-color: $error-color;
}

div.error {
    font-size: 0.875rem;
    color: $error-color;
    width: 100%;
    i {
        margin-right: 0.5rem;
    }

    &:has(span:empty) {
        display: none;
    }
}

.searchbar--item {
    @include flex();
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 0.5rem 1rem;
    color: var(--text-color);
    border-top: $outline-width solid var(--surface-color);
    border-bottom: $outline-width solid var(--surface-color);

    .cover {
        height: 100%;
        aspect-ratio: 264/352;
        background-color: var(--background-color);
        background-size: contain;
    }

    &:hover {
        background-color: var(--detail-color);
        text-decoration: none;
        border-color: var(--secondary-alt-color);
        z-index: 12;
    }
}

.icon-button {
    @include flex();
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    transition: background-color $transition-duration-instant ease;

    i {
        font-size: 150%;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--background-color);
    }

    &:active {
        background-color: var(--detail-color);
    }

    i {
        color: var(--text-color);
    }
}

div:has(>#user_profile) {
    justify-content: flex-end;
}

#user_profile {
    @include flex(row, calc(.5rem + $outline-width * 2));
    border: none;
    background-color: transparent;
    align-items: center;
    color: var(--text-color);
    padding: 0;
    border-radius: 99rem;
    transition: all $transition-duration-instant ease;
    box-shadow: none;
    width: 2.5rem;
    height: 2.5rem;

    &:hover {
        cursor: pointer;
        background-color: var(--background-color);
        box-shadow: none;
        border-radius: 99rem;

        img {
            outline-color: var(--secondary-alt-color);
        }
    }

    &:active {
        background-color: var(--detail-color);
    }
}

.profile_picture {
    width: calc(2.5rem - $outline-width * 4);
    aspect-ratio: 1;
    border-radius: 50%;
    outline: $outline-width solid var(--text-color);
    outline-offset: $outline-width;
    transition: all $transition-duration-instant ease;
}

h1 {
    font-size: 2rem;
    line-height: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    white-space: pre-wrap;
    font-weight: normal;
}

a {
    color: var(--secondary-alt-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

body {
    width: 100dvw;
    height: 100dvh;
    background-color: var(--background-color);
    overflow: hidden;
    scroll-padding-top: 7rem;
}

main {
    width: 100dvw;
    height: 100dvh;
    min-height: 100%;
    @include flex(column, 0);
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;

    #body {
        flex-grow: 1;
    }
}

section {
    @include flex(column);
    // @extend %flexElement;

    &>.content {
        @include flex();
        flex-wrap: wrap;
        position: relative;
    }
}

.card {
    @extend %interactable;
    padding: 0;
    color: var(--text-color);
    flex: 1 1 0px;
    min-width: 0;
    pointer-events: all;
    opacity: 100%;
    position: relative;
    overflow: hidden;

    b {
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-height: 1lh;
    }

    small {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-height: 1lh;
        max-width: 100%;
    }

    .cover {
        background-size: cover;
        background-position: center;
        background-color: var(--background-color);

        &.landscape {
            aspect-ratio: 460/215;
        }

        &.portrait {
            aspect-ratio: 359/539;
        }

        &.thumb {
            aspect-ratio: 264/352;
        }
    }

    &>.content {
        @include flex(column, .25rem);
        padding: 1rem;
        justify-content: center;
    }

    &:hover {
        text-decoration: none;
        z-index: 1;
    }
}

.card.vertical {
    @include flex(column, 0);

    .cover {
        @include flex(column, .5rem);
        flex-grow: 1;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 1rem;
    }
}

ul.subtexts {
    @include flex(row, .5rem);
    list-style-type: none;
    min-height: 1rem;

    li 
    {
        @include flex();
        height: min-content;
        max-width: 100%;
        &:last-of-type {
            flex: 1 1 0;
            min-width: 0;
        }
    }

}

small {
    font-size: .75rem;
    a {
        color: var(--text-color);
    }
}

%rating {
    @include theme($light-mode);
    @include flex(row, 0);
    display: inline-block;
    
    border-radius: 50%;
    span {
        font-weight: bold;
        font-size: 1.5rem;
    }
}

.rating-5 {
    @extend %rating;
    span {
        color: $success-color;
    }
}
.rating-4 {
    @extend %rating;
    span {
        color: $success-alt-color;
    }
}
.rating-3 {
    @extend %rating;
    span {
        color: $warning-color;
    }
}
.rating-2 {
    @extend %rating;
    span {
        color: $warning-alt-color;
    }
}
.rating-1 {
    @extend %rating;
    span {
        color: $error-color;
    }
}

.card.horizontal {
    @include flex(row, 0);

    &:has(>.cover.landscape) {
        min-height: 6rem;
    }

    &:has(>.cover.portrait) {
        height: 4rem;
    }

    &:has(>.cover.thumb) {
        height: 8rem;
    }

    .content {
        flex-grow: 1;
        min-width: 0;
    }
}

.countdown {
    @include flex(row, .5rem);
    padding: 1rem 1rem 2.25rem 1rem;
    align-items: center;

    div {
        @include flex(row, .25rem);
        position: relative;
    }

    hr {
        width: $outline-width;
        height: 1rem;
    }

    span {
        background-color: var(--detail-color);
        border: $outline-width solid var(--surface-color);
        padding: .5rem;
        font-size: 1.25rem;
        font-weight: bold;
        border-radius: $border-radius;
    }

    small {
        position: absolute;
        width: 100%;
        bottom: -1.25rem;
        text-align: center;
    }
}

.smaller {
    font-size: .625rem;
}

hr {
    background-color: var(--detail-color);
    border: none;
    border-radius: calc($outline-width / 2);

    .vertical {
        height: 100%;
        width: $outline-width;
    }
    .horizontal {
        height: $outline-width;
        width: 100%;
    }
}

footer {
    @include flex(column);
    @include theme($dark-mode);
    background-color: var(--surface-color);
    color: var(--text-color);
    align-items: center;
    width: 100%;
    padding: 2rem $side-padding;
    grid-column: 1/-1;

    #community {
        @include flex(row, .5rem);
        flex-wrap: wrap;
        justify-content: center;

        b {
            width: 100%;
            text-align: center;
        }

        a {
            text-decoration: none;
        }
    }

    #legal {
        @include flex();
        justify-content: space-between;
        opacity: 50%;
        align-items: center;

        &>small {
            padding-top: .125rem;
            height: 1rem;
        }

        ul {
            @include flex(row, 0.25rem);
            align-items: center;
        }

        li {
            list-style: none;
        }

        a {
            color: var(--text-color);
        }
    }
}

// i.loading {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     translate: -50% -50%;
//     color: var(--secondary-color);
//     font-size: 2rem;
//     animation: loading 1s steps(8) infinite;
// }

@keyframes loading {
    from {
        rotate: 0;
    }

    to {
        rotate: 360deg;
    }
}

iframe {
    background-color: black;
    border: none;
}

platform-prefab {
    i, img {
        margin-top: 1px;
    }

    a {
        @include flex(row, .25rem);
        padding: .25rem .5rem;
        border-radius: $border-radius / 2;
        background-color: lightgrey;
        color: white;
        align-items: center;
    }
    
    img {
        height: 1rem;
        width: 1rem;
        filter: invert(100%) sepia(98%) saturate(8%) hue-rotate(151deg) brightness(103%) contrast(102%);
    }
}

*:has(>my-tooltip) {
    position: relative;

    my-tooltip {
        @include theme($dark-mode);
        position: absolute;
        visibility: hidden;
        opacity: 0%;
        padding: .5rem;
        border-radius: calc($border-radius / 2);
        top: 0;
        left: 50%;
        translate: -50% calc(-100%);
        z-index: 20;
        color: var(--text-color);
        width: max-content;
        text-align: center;
        background-color: var(--surface-color);
        @include transition();

        &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            translate: -50% -50%;
            rotate: 45deg;
            width: .5rem;
            height: .5rem;
            background-color: var(--surface-color);
        }
    }

    &:hover {
        my-tooltip:not(:empty) {
            visibility: visible;
            opacity: 100%;
            translate: -50% calc(-100% - 1rem);
        }
    }
}

dialog {
    position: fixed;
    top: 0;
    background-color: color-mix(in srgb, var(--text-color), transparent 50%);
    border: none;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    pointer-events: none;
    opacity: 0%;
    @include transition(opacity, $transition-duration-smooth);

    &[open] {
        pointer-events: all;
        opacity: 100%;
    }
}

a:has(.loading){
    pointer-events: none;
}

.loading, img[alt="loading"] {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--detail-color);
        background: linear-gradient(90deg, var(--detail-color) 0%, color-mix(in srgb, var(--detail-color), var(--background-color) 25%) 10%, var(--detail-color) 20%);
        background-size: 200% 100%;
        z-index: 2;
        pointer-events: none;
        animation: 1.5s loading-animation linear infinite;
    }
}

tbody.loading {
    height: 8rem;
}

@keyframes loading-animation {
    to {
        background-position-x: -200%;
    }
}

#user_profile-menu {
    position: absolute; 
    top: calc(100% - 0.5rem);
    padding: 0.5rem 0;
    background-color: var(--surface-color);
    border-radius: $border-radius;
    box-shadow: $shadow;
    list-style: none;
    @include flex(column, 0);
    
    hr {
        height: $outline-width;
        margin: 0.25rem 1rem;
    }

    a {
        @include flex();
        align-items: center;
        height: fit-content;
        color: var(--text-color);
        width: 100%;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        text-transform: none;
        font-weight: 600;
        border-radius: 0;
        justify-content: start;

        &:hover {
            text-decoration: none;
            background-color: var(--detail-color);
        }

        &.destructive {
            color: $error-color;  
        }
    }
}

#login_dialog, #signup_dialog {
    @include center();

    section {
        @extend %surface;
        padding: 2rem;
    }

    input{
        min-width: 16rem;
    }

    div:has(>input) {
        gap: 0rem;
        a {
            margin-top: 0.25rem;
            font-size: 0.75rem;
        }
    }

    form  {
        margin-top: 0.5rem;

        >div {
            gap: 0.25rem;
        }
    }

    input[type=submit] {
        margin-top: 1rem;
    }

    .flex-column {
        width: 100%;
    }

    div:has(#signup-password-icon) {
        gap: 0.25rem;
        align-items: center;
    }

    #signup-password-icon {
        opacity: 50%;
        font-size: 0.825rem;
        margin-top: 2px;

        &:hover {
            cursor: pointer;
        }
    }

    div:has(>#signup-password) {
        position: relative;
    }

    #signup-password-tooltip {
        position: absolute;
        display: none;
        @extend %surface;
        padding: 1rem;
        left: 0;
        top: 50%;
        translate: calc(-100% - 1rem) -50%;
        font-size: 0.875rem;

        li {
            margin-left: 1rem;

            &.error {
                color: $error-color;
            }
            &:not(.error) {
                color: $success-color;
            }
        }
    }

    div:has(>#signup-password):has(#signup-password-icon:hover),
    div:has(>#signup-password:focus) {
        #signup-password-tooltip {
            @include flex(column, 0.5rem);
        }
    }
}

.flex-row {
    @include flex(row);
}

.flex-column {
    @include flex(column);
}

.space-between {
    justify-content: space-between;
}

#signup_dialog {
    form {
        display: grid;
        grid-template-columns: 16rem 16rem;
        gap: 1rem;
    }

    input[type=submit], span {
        grid-column: span 2;
    }
}