// npx sass --watch ./SCSS:./CSS

*,
::before,
::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

$success-color: #00c851;
$success-color-alt: #B7DD29;
$warning-color: #FFE234;
$warning-color-alt: #FFA534;
$error-color: #ff4444;

$light-mode: (
    surface: #FFFFFF,
    background: #F7F7F7,
    detail: #E5E5E5,
    primary: #FE7E01,
    primary-detail: color-mix(in srgb, #FE7E01, black 20%),
    primary-hover: color-mix(in srgb, #FE7E01, white 33%),
    secondary: #1CB0F6,
    secondary-detail: color-mix(in srgb, #1CB0F6, black 20%),
    secondary-hover: color-mix(in srgb, #1CB0F6, white 33%),
    text: #4B4B4B,
);

$dark-mode: (
    surface: #233034,
    background: #172021,
    detail: #3a464e,
    primary: #FE7E01,
    primary-detail: color-mix(in srgb, #FE7E01, black 20%),
    primary-hover: color-mix(in srgb, #FE7E01, white 33%),
    secondary: #1CB0F6,
    secondary-detail: color-mix(in srgb, #1CB0F6, black 20%),
    secondary-hover: color-mix(in srgb, #1CB0F6, white 33%),
    text: #f0f6fb,
);

@mixin theme($theme) {
    @each $key, $value in $theme {
        --#{$key}-color: #{$value};
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        @include theme($dark-mode);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        @include theme($light-mode);
    }
}

$side-padding: calc((100dvw - 1200px) / 2);
$transition-duration-instant: 100ms;
$transition-duration-smooth: 200ms;
$border-radius: .5rem;
$outline-width: 2px;
$shadow: 0 .125rem .125rem 0 rgba(0, 0, 0, .1);

@mixin flex($direction: row, $gap: 1rem) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

@mixin grid($columns: 2, $gap: 1rem) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}

@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition($property: all, $duration: $transition-duration-instant, $ease: ease) {
    transition: $property $duration $ease;
}

%flexElement {
    flex: 1 1 0px;
}

%surface {
    padding: 1rem;
    background-color: var(--surface-color);
    border-radius: $border-radius;
    border: $outline-width solid var(--detail-color);
}

%bubble {
    @extend %surface;
    background-color: var(--detail-color);
}

%interactable {
    @extend %surface;
    box-shadow: 0 $outline-width 0 var(--detail-color);
    @include transition();

    &:hover {
        background-color: var(--detail-color);
        border-color: var(--secondary-color);
        box-shadow: 0 $outline-width 0 var(--secondary-color);
        cursor: pointer;
    }
}

:root {
    color: var(--text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark-mode {
    @include theme($dark-mode);
}

input,
select,
textarea,
button {
    font-family: inherit;

    &:focus-visible {
        border: none;
        outline: $outline-width solid var(--secondary-color);
    }
}

button {
    @include flex(row, .25rem);
    @include center();
    padding: 0 1rem;
    height: 3rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: bold;
    @extend %interactable;

    &.primary {
        color: var(--surface-color);
        background-color: var(--primary-color);
        border-color: var(--primary-detail-color);
        box-shadow: 0 $outline-width 0 var(--primary-detail-color);
        &:hover {
                background-color: var(--primary-hover-color);
                border-color: var(--primary-color);
                box-shadow: 0 $outline-width 0 var(--primary-color);
        }
    }
    &.secondary {
        color: var(--surface-color);
        background-color: var(--secondary-color);
        border-color: var(--secondary-detail-color);
        box-shadow: 0 $outline-width 0 var(--secondary-detail-color);
        &:hover {
            background-color: var(--secondary-hover-color);
            border-color: var(--secondary-color);
            box-shadow: 0 $outline-width 0 var(--secondary-color);
        }
    }
}

header {
    @include flex();
    height: calc(2.5rem + 2rem);
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem $side-padding;
    position: sticky;
    top: 0;
    z-index: 2;
    grid-column: 1/-1;

    div {
        @include flex();
        @extend %flexElement;
    }
}

.icon-button {
    @include flex();
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    transition: background-color $transition-duration-instant ease;

    i {
        font-size: 150%;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--background-color);
    }

    &:active {
        background-color: var(--detail-color);
    }

    i {
        color: var(--text-color);
    }
}

.search-bar {
    @include theme($light-mode);
    flex-grow: 2;
    position: relative;

    i {
        position: absolute;
        left: .75rem;
        top: 50%;
        translate: 0 -50%;
        color: var(--text-color);
    }

    input[type="text"] {
        padding: 0 1rem .1rem 2.5rem;
        height: 2.5rem;
        border-radius: $border-radius;
        background-color: var(--surface-color);
        border: none;
        flex-grow: 1;
        font-size: 1rem;
    }
}

div:has(>.user-profile) {
    justify-content: flex-end;
}

.user-profile {
    @include flex(row, calc(.5rem + $outline-width * 2));
    padding: 0 .5rem 0 calc($outline-width * 2);
    border: none;
    background-color: transparent;
    align-items: center;
    color: var(--text-color);
    border-radius: 1.25rem $border-radius $border-radius 1.25rem;
    transition: all $transition-duration-instant ease;
    box-shadow: none;

    &:hover {
        cursor: pointer;
        background-color: var(--background-color);

        img {
            outline-color: var(--secondary-color);
        }
    }

    &:active {
        background-color: var(--detail-color);
    }
}

.profile-picture {
    width: calc(2.5rem - $outline-width * 4);
    aspect-ratio: 1;
    border-radius: 50%;
    outline: $outline-width solid var(--text-color);
    outline-offset: $outline-width;
    transition: all $transition-duration-instant ease;
}

h1 {
    font-size: 2rem;
    line-height: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    white-space: pre-wrap;
    font-weight: normal;
}

.section-title {
    @include flex();
    justify-content: space-between;
}

a {
    color: var(--secondary-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

body {
    width: 100dvw;
    height: 100dvh;
    background-color: var(--background-color);
    overflow: hidden;
    scroll-padding-top: 7rem;
}

main {
    width: 100dvw;
    height: 100dvh;
    @include flex(column, 0);
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

section {
    @include flex(column);
    // @extend %flexElement;

    &>.content {
        @include flex();
        flex-wrap: wrap;
        position: relative;
    }
}

.card {
    @extend %interactable;
    padding: 0;
    color: var(--text-color);
    flex: 1 1 0px;
    min-width: 0;
    pointer-events: all;
    opacity: 100%;
    position: relative;
    overflow: hidden;

    b {
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-height: 1lh;
    }

    small {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-height: 1lh;
        max-width: 100%;
    }

    &.hidden {
        pointer-events: none;
        opacity: 0%;
        .cover {
            opacity: 0%;
        }
    }

    .cover {
        background-size: cover;
        background-position: center;
        background-color: var(--background-color);

        &.landscape {
            aspect-ratio: 460/215;
        }

        &.portrait {
            aspect-ratio: 359/539;
        }

        &.thumb {
            aspect-ratio: 264/352;
        }
    }

    &>.content {
        @include flex(column, .25rem);
        padding: 1rem;
        justify-content: center;
    }

    &:hover {
        text-decoration: none;
        z-index: 1;
    }
}

.card.vertical {
    @include flex(column, 0);

    .cover {
        @include flex(column, .5rem);
        flex-grow: 1;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 1rem;
    }
}

.card.vertical:has(>.cover.landscape) {
    flex: 3 1 0px;
}

.card.vertical:has(>.cover.portrait) {
    flex: 1 1 0px;
}

ul.subtexts {
    @include flex(row, .5rem);
    list-style-type: none;

    li 
    {
        @include flex();
        height: min-content;
        max-width: 100%;
    }
}

small {
    font-size: .75rem;
    a {
        color: var(--text-color);
    }
}

%rating {
    @include theme($light-mode);
    @include flex(row, 0);
    display: inline-block;
    
    border-radius: 50%;
    span {
        font-weight: bold;
        font-size: 1.5rem;
    }
}

.rating-5 {
    @extend %rating;
    span {
        color: $success-color;
    }
}
.rating-4 {
    @extend %rating;
    span {
        color: $success-color-alt;
    }
}
.rating-3 {
    @extend %rating;
    span {
        color: $warning-color;
    }
}
.rating-2 {
    @extend %rating;
    span {
        color: $warning-color-alt;
    }
}
.rating-1 {
    @extend %rating;
    span {
        color: $error-color;
    }
}

.card.horizontal {
    @include flex(row, 0);

    &:has(>.cover.landscape) {
        min-height: 6rem;
    }

    &:has(>.cover.portrait) {
        height: 4rem;
    }

    &:has(>.cover.thumb) {
        height: 8rem;
    }

    .content {
        flex-grow: 1;
        min-width: 0;
    }
}

.countdown {
    @include flex(row, .5rem);
    padding: 1rem 1rem 2.25rem 1rem;
    align-items: center;

    div {
        @include flex(row, .25rem);
        position: relative;
    }

    hr {
        width: $outline-width;
        height: 1rem;
    }

    span {
        background-color: var(--detail-color);
        border: $outline-width solid var(--surface-color);
        padding: .5rem;
        font-size: 1.25rem;
        font-weight: bold;
        border-radius: $border-radius;
    }

    small {
        position: absolute;
        width: 100%;
        bottom: -1.25rem;
        text-align: center;
    }
}

.smaller {
    font-size: .625rem;
}

hr {
    background-color: var(--detail-color);
    border: none;
    border-radius: calc($outline-width / 2);

    .vertical {
        height: 100%;
        width: $outline-width;
    }
    .horizontal {
        height: $outline-width;
        width: 100%;
    }
}

footer {
    @include flex(column);
    @include theme($dark-mode);
    align-items: center;
    width: 100%;
    background-color: var(--surface-color);
    color: var(--text-color);
    padding: 2rem $side-padding;
    grid-column: 1/-1;
    margin-top: 2rem;

    #community {
        @include flex(row, .5rem);
        flex-wrap: wrap;
        justify-content: center;

        b {
            width: 100%;
            text-align: center;
        }

        a {
            text-decoration: none;
        }
    }

    #legal {
        @include flex();
        justify-content: space-between;
        opacity: 50%;
        align-items: center;

        &>small {
            padding-top: .125rem;
            height: 1rem;
        }

        ul {
            @include flex(row, 0.25rem);
            align-items: center;
        }

        li {
            list-style: none;
        }

        a {
            color: var(--text-color);
        }
    }
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    color: var(--secondary-color);
    font-size: 2rem;
    animation: loading 1s steps(8) infinite;
}

@keyframes loading {
    from {
        rotate: 0;
    }

    to {
        rotate: 360deg;
    }
}

iframe {
    background-color: black;
    border: none;
}

platform-prefab {
    i, img {
        margin-top: 1px;
    }

    a {
        @include flex(row, .25rem);
        padding: .25rem .5rem;
        border-radius: $border-radius / 2;
        background-color: lightgrey;
        color: white;
        align-items: center;
    }
    
    img {
        height: 1rem;
        width: 1rem;
        filter: invert(100%) sepia(98%) saturate(8%) hue-rotate(151deg) brightness(103%) contrast(102%);
    }
}

*:has(>my-tooltip) {
    position: relative;

    my-tooltip {
        @include theme($dark-mode);
        position: absolute;
        visibility: hidden;
        opacity: 0%;
        padding: .5rem;
        border-radius: calc($border-radius / 2);
        top: 0;
        left: 50%;
        translate: -50% calc(-100%);
        z-index: 10;
        color: var(--text-color);
        width: max-content;
        text-align: center;
        background-color: var(--surface-color);
        @include transition();

        &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            translate: -50% -50%;
            rotate: 45deg;
            width: .5rem;
            height: .5rem;
            background-color: var(--surface-color);
        }
    }

    &:hover {
        my-tooltip:not(:empty) {
            visibility: visible;
            opacity: 100%;
            translate: -50% calc(-100% - 1rem);
        }
    }
}

dialog {
    position: fixed;
    top: 0;
    background-color: color-mix(in srgb, var(--text-color), transparent 50%);
    border: none;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    pointer-events: none;
    opacity: 0%;
    @include transition(opacity, $transition-duration-smooth);

    &[show] {
        pointer-events: all;
        opacity: 100%;
    }
}